<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.notcharlie.githubfred</string>
	<key>connections</key>
	<dict>
		<key>13E5FF2A-1269-465B-9788-CE0ECA0C1705</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3249DA4-9CC6-41D7-BB0D-54CBE663A02F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5F9B8991-2746-4AFE-9EBE-32443D153C86</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A096D3D2-4218-47AF-8FF3-04E28BE5FBAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>302280CE-4B60-4405-8D8E-9488C9216D0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D3249DA4-9CC6-41D7-BB0D-54CBE663A02F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5F9B8991-2746-4AFE-9EBE-32443D153C86</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AFD3DF9C-B639-4793-8800-BD4115A9EB85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36266297-5A83-4323-9D0A-F135ABC01C56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>13E5FF2A-1269-465B-9788-CE0ECA0C1705</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>41C5F815-6902-43D1-8465-20E85E3E0D66</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CA0F80B5-B0AC-474F-96FB-CF085A494C07</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F5ED71B-B2CB-4692-9CAF-F798FFE2D3FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C89393E-3581-4F7E-9BAB-A784BA0DDD8D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5F9B8991-2746-4AFE-9EBE-32443D153C86</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>41C5F815-6902-43D1-8465-20E85E3E0D66</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7772E003-F9EA-486A-B9CC-B25EC69E03D9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>302280CE-4B60-4405-8D8E-9488C9216D0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7D13FA1A-8355-45B3-A50C-BA205B2C1EE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F5ED71B-B2CB-4692-9CAF-F798FFE2D3FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BE13D3F-448F-4CA6-B821-ED851E2827E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0FA587B-1A27-4B06-917B-EABBFFD025EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A096D3D2-4218-47AF-8FF3-04E28BE5FBAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7772E003-F9EA-486A-B9CC-B25EC69E03D9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CA0F80B5-B0AC-474F-96FB-CF085A494C07</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36266297-5A83-4323-9D0A-F135ABC01C56</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ad8eaf12-93df-425f-b6fe-0a39185afff8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B0FA587B-1A27-4B06-917B-EABBFFD025EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>36266297-5A83-4323-9D0A-F135ABC01C56</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>^: Clone</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7D13FA1A-8355-45B3-A50C-BA205B2C1EE6</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>⌥: Fork &amp; Clone</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adam Brown</string>
	<key>description</key>
	<string>GitHub assistant for Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>githubfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:github_prefix}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>repos.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search GitHub repos</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ad8eaf12-93df-425f-b6fe-0a39185afff8</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>B0FA587B-1A27-4B06-917B-EABBFFD025EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>D3249DA4-9CC6-41D7-BB0D-54CBE663A02F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:github_prefix}pr</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>loading…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>pull_request.py</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search my GitHub pull requests</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9BE13D3F-448F-4CA6-B821-ED851E2827E7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>clone-repo.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36266297-5A83-4323-9D0A-F135ABC01C56</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^ERROR</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>5F9B8991-2746-4AFE-9EBE-32443D153C86</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>local repo</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>13E5FF2A-1269-465B-9788-CE0ECA0C1705</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>upstream.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7772E003-F9EA-486A-B9CC-B25EC69E03D9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>seconds</key>
				<string>1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.delay</string>
			<key>uid</key>
			<string>CA0F80B5-B0AC-474F-96FB-CF085A494C07</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>AFD3DF9C-B639-4793-8800-BD4115A9EB85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^ERROR</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>5F9B8991-2746-4AFE-9EBE-32443D153C86</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>local repo</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>302280CE-4B60-4405-8D8E-9488C9216D0A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>A096D3D2-4218-47AF-8FF3-04E28BE5FBAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>⚠️ {query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8C89393E-3581-4F7E-9BAB-A784BA0DDD8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>fork.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D13FA1A-8355-45B3-A50C-BA205B2C1EE6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^ERROR</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>5F9B8991-2746-4AFE-9EBE-32443D153C86</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>clone repo</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5F5ED71B-B2CB-4692-9CAF-F798FFE2D3FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string> </string>
				<key>discardemptyarguments</key>
				<false/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>41C5F815-6902-43D1-8465-20E85E3E0D66</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>13E5FF2A-1269-465B-9788-CE0ECA0C1705</key>
		<dict>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>302280CE-4B60-4405-8D8E-9488C9216D0A</key>
		<dict>
			<key>xpos</key>
			<real>1010</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>36266297-5A83-4323-9D0A-F135ABC01C56</key>
		<dict>
			<key>note</key>
			<string>clone repo</string>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>41C5F815-6902-43D1-8465-20E85E3E0D66</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>5F5ED71B-B2CB-4692-9CAF-F798FFE2D3FA</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>325</real>
		</dict>
		<key>7772E003-F9EA-486A-B9CC-B25EC69E03D9</key>
		<dict>
			<key>note</key>
			<string>set upsteam</string>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>7D13FA1A-8355-45B3-A50C-BA205B2C1EE6</key>
		<dict>
			<key>note</key>
			<string>fork repo</string>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>8C89393E-3581-4F7E-9BAB-A784BA0DDD8D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>9BE13D3F-448F-4CA6-B821-ED851E2827E7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>list pull requests</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>A096D3D2-4218-47AF-8FF3-04E28BE5FBAD</key>
		<dict>
			<key>xpos</key>
			<real>800</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>AFD3DF9C-B639-4793-8800-BD4115A9EB85</key>
		<dict>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>B0FA587B-1A27-4B06-917B-EABBFFD025EC</key>
		<dict>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>CA0F80B5-B0AC-474F-96FB-CF085A494C07</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>D3249DA4-9CC6-41D7-BB0D-54CBE663A02F</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<real>1120</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>ad8eaf12-93df-425f-b6fe-0a39185afff8</key>
		<dict>
			<key>colorindex</key>
			<integer>7</integer>
			<key>note</key>
			<string>repo search</string>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>GitHub username</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>github_username</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>api.github.com</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Hostname for GitHub server.  Only needs to be changed for hosted GitHub Enterprise instance.</string>
			<key>label</key>
			<string>GitHub host</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>github_host</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Optional. Only required for searching private repos &amp; creating forks.  If empty, will fallback to `$GITHUB_TOKEN` from `.zshenv`.</string>
			<key>label</key>
			<string>Personal Access Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>github_token_from_alfred_prefs</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>gh</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Prefix</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>github_prefix</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>~/github.com</string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Local folder where repositories should be cloned to.  Defaults to `~/&lt;github_host&gt;` if not specified.</string>
			<key>label</key>
			<string>Cloning</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>local_repo_root</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>PYTHONPATH</key>
		<string>.:vendored</string>
	</dict>
	<key>version</key>
	<string>0.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/acourtneybrown/githubfred</string>
</dict>
</plist>
